<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670442884979-5mc21ln4v0cpr7j9rs9k0dlnrsqu2hjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670442884979-5mc21ln4v0cpr7j9rs9k0dlnrsqu2hjp</string>
	<key>API_KEY</key>
	<string>AIzaSyAW5yZnE64Q461-rMOD06gNDK5jOrcDx2o</string>
	<key>GCM_SENDER_ID</key>
	<string>670442884979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentRegistApp</string>
	<key>PROJECT_ID</key>
	<string>student-registration-app-b356d</string>
	<key>STORAGE_BUCKET</key>
	<string>student-registration-app-b356d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670442884979:ios:af046dc78201941bd07f06</string>
</dict>
</plist>